:root {
  --primary-color: #11bd8c;
  --rv-primary-color: var(--primary-color);
}

.index {
  padding-top: 20px;
  text-align: center;
  box-sizing: border-box;
  background: linear-gradient(180deg, #e7f8e7 0%, rgba(222, 246, 235, 0) 100%);
}

.modeBox {
  display: flex;
  padding: 10px 20px;

  .mode {
    padding: 0px 18px;
    text-align: center;
    background-color: #fff;
    font-size: 16px;
    height: 34px;
    line-height: 34px;
    border-radius: 8px;
    box-sizing: border-box;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    margin-right: 10px;
  }

  .active {
    background-color: var(--primary-color);
    color: #fff;
  }
}

.card {
  background: #ffffff;
  box-shadow: 0px 4px 15px 0px #c6d0d3;
  padding: 14px 11px;
  border-radius: 14px;
  margin-bottom: 15px;
  .title {
    position: relative;
    width: fit-content;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    text-align: left;
    .linear-gradient {
      width: 80%;
      position: absolute;
      height: 12px;
      background: linear-gradient(
        270deg,
        #99e49a 0%,
        rgba(153, 228, 154, 0) 100%
      );
      right: 0;
      bottom: 4px;
      opacity: 0.5;
    }
  }
  .row {
    display: flex;
    align-items: center;
    color: #1c2023;
    background-color: #fff;
    border-bottom: 1px solid #e3e4e5;
    box-sizing: border-box;
    height: 50px;
    padding-left: 10px;
    .label {
      font-size: 14px;
      text-align: left;
      color: #666666;
      display: inline-block;
      min-width: 80px;
    }
    .value {
      color: #000000;
      font-size: 14px;
    }
  }
  .desc {
    color: #666666;
    font-size: 13px;
    line-height: 24px;
    text-align: left;
  }
}
.bottom-box {
  position: fixed;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  bottom: 0;
  z-index: 1;
  width: 100vw;
  left: 0;
}
.primary-btn {
  width: 256px;
  height: 40px;
  border-radius: 18px;
  text-align: center;
  font-size: 14px;
  line-height: 40px;
  color: #fff;
  background-color: var(--primary-color);
}

.legend-box {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 20px;
  .legend {
    display: flex;
    gap: 4px;
    align-items: center;
    .rect {
      border-radius: 4px;
      width: 24px;
      height: 14px;
      display: inline-block;
    }
    .text {
      font-size: 12px;
      color: #666;
    }
  }
}

.result-box {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  font-size: 15px;
  font-weight: 500;
  color: var(--primary-color);
}
.table-p-box {
  font-size: 14px;
  text-align: left;
}
.desc {
  font-size: 13px;
  margin-bottom: 5px;
}
.table-title {
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 10px;
}
.table-box {
  border: 1px solid #666;
  border-right: none;
  border-bottom: none;
  font-size: 12px;
  margin-top: 10px;

  .row {
    border-bottom: 1px solid #666;
    display: flex;
    height: 35px;
    .item1 {
      height: 35px;
      width: 90px;
      border-right: 1px solid #666;
      display: flex;
      align-items: center;
    }
    .item {
      flex: 1;
      height: 35px;
      line-height: 35px;
      text-align: center;
      border-right: 1px solid #666;
    }
  }
}
